<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv11n Object Detection</title>
    <style>
        body {
            text-align: center;
        }
        video {
            border: 2px solid #ddd;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>YOLOv11n Object Detection</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
    <a href="index.html">fresh</a>
</body>
</html>
